* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    max-height: 100%;
}

html, body {
    overflow-x: hidden;  
}

.wrapper {
    background-color: ;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

/* header */
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    height: 100px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #555547;
    background-color: white;
}

.logogroup {
    display: flex;
    align-items: center;
}

#logo {
    margin: 0;
    padding-right: 5px;
    width: 50px;
}

#appname {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: #0E5C63;
    justify-self: flex-start;
}

#topnav {
    display: flex;
} 

.list-item {
    padding-right: 40px;
    list-style-type: none;
}
.list {
    display: flex;
}
.list a {
    text-decoration: none;
    color: #212832;
}

#club {
    width: 110px;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #009090;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #009090;
    border-radius: 15px;
    align-self: center;
}

#club:hover {
    cursor: pointer;
}

#club:active {
    box-shadow: 0px 5px 5px 0px #63cbcb;
}

/* screen1 */
.screen1 {
    display: flex;
    height: 100vh;
    background-color: #f4f4f0;
}

.screen1 h1 {
    font-family: 'Philosopher', serif;
    color: #0E5C63;
}

.screen1 p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: #555547;
}

#test {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    color: white;
    border: 2px solid #f1a293;
    border-radius: 9999px;
    background: #f1a293;
}

#test:hover {
    cursor: pointer;
}

#test:active {
    box-shadow: 0px 15px 25px 0px #ffbaac;
}

.article {
    width: 40vw;
    padding-left: 30px;
    padding-right: 10px;
    flex-wrap: wrap;
    align-self: center;
}

#momphoto {
    flex-shrink: 0;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    width: 100vw;
}
