* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    max-height: 100%;
}

html, body {
    overflow-x: hidden;  
}

.wrapper {
    background-color: white;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
    grid-area: header;
    width: 100vw;
    height: fit-content;
 
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    width: 100vw;
}


/*Партнеры*/

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .top-partners,
  .bottom-partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* ширина контейнера */
    margin-top: 20px; /* отступ между группами партнеров */
  }
  
  .partner {
    flex-basis: calc(20% - 20px); /* 5 равных колонок с отступами между ними */
  }
  
  .partner img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Медиа-запрос для адаптивности */
  @media screen and (max-width: 768px) {
    .top-partners,
    .bottom-partners {
      flex-wrap: wrap; /* перенос на новую строку при малом разрешении экрана */
      justify-content: center; /* выравнивание по центру при переносе */
    }
  
    .partner {
      flex-basis: calc(50% - 20px); /* При адаптивном разрешении отображаем 2 колонки в строке */
    }
  }
  
/*Футер*/
.footer {
    background-image: linear-gradient(to bottom, #128788, #0E5C63);
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    flex-basis: 300px;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .contact a {
    margin-top: 10px;
    list-style: none;
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    display: block;
    margin-bottom: 10px;
  }
  
  .socials {
    margin-top: 10px;
    margin-bottom: -30px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .footer-section.apps {
    text-align: center; 
  }
  
  .footer-section.apps a {
    display: inline-block; 
    margin: 0 10px;
    transition: transform 0.3s ease; 
  }
  
  .footer-section.apps a:hover {
    transform: translateX(5px);
  }

  .socials a {
    margin: 0 5px;
    transition: transform 0.3s ease;
  }
  
  .socials a:hover img {
    transform: scale(1.1);
  }

  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links ul li {
    margin-bottom: 10px;
  }
  
  .links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .links ul li a:hover {
    color: rgba(14, 92, 99, 1);;
  }
  
  .contact-form .text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .btn {
    background-color: rgba(14, 92, 99, 1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(10, 10, 10)
  }
  
  .btn-big {
    padding: 15px 30px;
    font-size: 16px;
  }
  
  .footer-bottom {
    background-color: rgba(14, 92, 99, 1);
    color: #ddd;
    text-align: center;
    padding: 10px 0;
  }
  