* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    max-height: 100%;
}

html, body {
    overflow-x: hidden;  
}

.wrapper {
    background-color: ;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
    grid-area: header;
    width: 100vw;
    height: fit-content;
 
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    width: 100vw;
}


/*Партнеры*/

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .top-partners,
  .bottom-partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* ширина контейнера */
    margin-top: 20px; /* отступ между группами партнеров */
  }
  
  .partner {
    flex-basis: calc(20% - 20px); /* 5 равных колонок с отступами между ними */
  }
  
  .partner img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Медиа-запрос для адаптивности */
  @media screen and (max-width: 768px) {
    .top-partners,
    .bottom-partners {
      flex-wrap: wrap; /* перенос на новую строку при малом разрешении экрана */
      justify-content: center; /* выравнивание по центру при переносе */
    }
  
    .partner {
      flex-basis: calc(50% - 20px); /* При адаптивном разрешении отображаем 2 колонки в строке */
    }
  }
  